.slide4-parent-div button {
  font-size: 3rem;
  background: #232222;
  outline: none;
  border: 4px dashed #fff; 
  color: #FFD2D2;
  font-family: 'Patrick Hand';
  position: relative;
  margin-bottom: 10px;
  transform: translateX(-120%);
  animation: button_fade_in 1s ease-out forwards;
  box-shadow: 5px 5px 0px #FF4545;
  transition: all 0.3s ease;
}

.type-img {
  transform: translateY(-100%);
  opacity: 0.0;  
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
  animation: img_fade_in 1s ease-out forwards;
  animation-delay: 0.4s;
}



.slide4-parent-div button:hover {
  font-weight: bolder;
  border: 4px dashed #212121;
  background: #FF4545;
  color: #212121;
}

.slide4-parent-div button:nth-child(2) {
  animation-delay: 0.4s;
}
.slide4-parent-div button:nth-child(3) {
  animation-delay: 0.8s;
}
.slide4-parent-div button:nth-child(4) {
  animation-delay: 1.2s;
}


.button-para .para {
  font-size: 1.5rem;
}



.slide4-div .title {
  font-size: 5rem;
}

@media only screen and (max-width: 1450px) {
  .button-para .para {
    font-size: 1.2rem;
  }
  .slide4-parent-div button {
    font-size: 2rem;
  }
  
}

@media only screen and (max-width: 1200px) {
  .button-para .para {
    font-size: 1rem;
  }
  .slide4-parent-div button {
    font-size: 2rem;
  }
  .slide4-div .title {
    font-size: 2rem;
    text-shadow: 2px 2px 0px #FF4545;
  }
}

@media only screen and (max-width: 950px) {
  .button-para .para {
    font-size: 0.8rem;
  }
  .slide4-parent-div button {
    font-size: 1rem;
  }
  .slide4-div .title {
    font-size: 1.5rem;
    text-shadow: 2px 2px 0px #FF4545;
  }
}




@keyframes img_fade_in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
    transform: translateY(0%);
  }
}

@keyframes para_fade_in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
    transform: translateY(0%);
  }
}


@keyframes button_fade_in {
  0% {
    transform: translateX(-120%);
    opacity: 0.0;
  }
  80% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
    transform: translateX(0%);
  }
}