.subtitle {
    color: #212121;
    color: #fff;
    opacity: 0.0;
    animation: fade-in linear 1s forwards;
    background: #FF4545;
    padding: 10px;
}


@keyframes fade-in {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}