.title {
    color: #fff;
    font-size: calc(var(--slide-w) * 0.2);
    text-shadow: 5px 5px 0px #FF4545;
    opacity: 0.0;
    animation: fade-in linear 1s forwards;
}

@media only screen and (max-width: 1500px) {
  .title {
    text-shadow: 3px 3px 0px #FF4545;
  }
}



@keyframes fade-in {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}
