@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Patrick Hand';
  
}

.App {
  background: #121111;
  background: red; 
  height: 100vh;
  width: 100%; 
  align-items: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  --slide-w: 1000px;
  --slide-h: 800px;
  position: relative;
} 

@media only screen and (max-width: 1450px) {
  .App {
    --slide-w: 800px;
    --slide-h: 700px;
  }
}

@media only screen and (max-width: 1200px) {
  .App {
    --slide-w: 600px;
    --slide-h: 700px;
  }
}

@media only screen and (max-width: 1100px) {
  .App {
    --slide-w: 600px;
    --slide-h: 700px;
  }
}

@media only screen and (max-width: 900px) {
  .App {
    --slide-w: 400px;
    --slide-h: 700px;
  }
}

.slides {
  width: 70%;
  margin: auto;
  padding: 20px;
  color: #fff;
  height: 80vh;
  display: grid;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  z-index: 1000;
}

.slide-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  z-index: 100;
}

.slide-buttons button {
  font-size: calc(var(--slide-w) * 0.3);
  background: #232222;
  outline: none;
  border: 4px dashed #fff; 
  color: #FFD2D2;
  font-family: 'Patrick Hand';
  position: relative;
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 3em;
  }
}

.slide-buttons button:nth-child(1) {
  box-shadow: -5px 5px 0px #FF4545;
}

.slide-buttons button:nth-child(1):hover {
  box-shadow: -5px 5px 0px #FFD2D2;
}

.slide-buttons button:nth-child(2) {
  box-shadow: 5px 5px 0px #FF4545;
}

.slide-buttons button:nth-child(2):hover {
  box-shadow: 5px 5px 0px #FFD2D2;
}

.slide-buttons button:hover {
  border: 4px dashed #212121;
  background: #FF4545;
  color: #212121;
}



.slide-buttons button span {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}


.slide-background-image {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  object-fit: cover;
  background-position: center center;
  z-index: 1;
  -webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
  filter: blur(1px);
  opacity: 0.7;
}


